@using Microsoft.AspNetCore.Components.Authorization;
@inherits LayoutComponentBase;

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <div style="display: flex; align-items: center; gap: 12px;">
            <a href="/" style="display: flex; align-items: center; cursor: pointer;">
                <img src="/logo.png" alt="Logo" style="height: 32px; width: auto;" />
            </a>
        </div>
        <MudSpacer />

        <!-- Botón de cambio de tema -->
        <MudIconButton Icon="@(_isDarkMode? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
                       Color="Color.Inherit"
                       OnClick="@ToggleTheme"
                       Title="@(_isDarkMode ? "Cambiar a tema claro" : "Cambiar a tema oscuro")" />

        <!-- Menú de notificaciones -->
        <div style="display: flex; align-items: center;">
            <BadgeNotificaciones />
        </div>
        <AuthorizeView>
            <Authorized>
                <MenuPerfilUsuario />
            </Authorized>
            <NotAuthorized>
                <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Inherit" Href="/login" />
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Portal Infraestructura</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    Se produjo un error inesperado en la aplicación.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = false;
    private bool _isDarkMode = false;

    private MudTheme _theme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "rgb(17, 21, 46)",
            Secondary = "#FF4081",
            AppbarBackground = "rgb(17, 21, 46)",
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#f2CB3A",
            PrimaryContrastText = "#4A4A4A",
            Secondary = "#FF4081",
            AppbarBackground = "#27272f",
            Background = "#1a1a1f",
            Surface = "#27272f",
            DrawerBackground = "#27272f",
        }
    };


    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void ToggleTheme()
    {
        _isDarkMode = !_isDarkMode;
    }
}